body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    color: #EEE;
    font-family: 'Pixelify Sans', cursive;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

.series-list {
    display: grid;
    grid-gap: 10px;

    /* Définit le modèle de colonnes de la grille.
       "repeat(auto-fill, minmax(140px, 1fr))" signifie :
       - "auto-fill" : Remplit automatiquement les colonnes en fonction de l'espace disponible.
       - "minmax(140px, 1fr)" : Définit la largeur minimale de chaque colonne à 140 pixels
         et la largeur maximale à "1fr", ce qui signifie que les colonnes peuvent s'étirer pour remplir l'espace restant
         de manière égale. */
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
