{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Create a new serie {% endblock %}

{% block body %}
    <div>
        {# todo : afficher le formulaire #}
    </div>
{% endblock %}



