{% extends 'base.html.twig' %}

{% form_theme serieForm "bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}{{ parent() }} | Create a new serie {% endblock %}

{% block body %}
    <div>
        {{ form_start(serieForm) }}
        {{ form_widget(serieForm) }}
        <button type="submit" class="btn btn-outline-info">Create</button>
        {{ form_end(serieForm) }}
    </div>
{% endblock %}



