{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | The best series{% endblock %}

{% block body %}
    <section>
        {# todo : afficher les séries. #}
    </section>
{% endblock %}
